/* src/components/UserList.css */
.user-list-container {
  padding: 20px;
  background-color: #f0f0f0;
  height: 100vh;
  overflow-y: auto;
}

.user-list-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
