/* src/components/UserList.css */
.user-list-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-list {
    list-style: none;
    padding: 0;
  }
  
  .user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .user-list-item:last-child {
    border-bottom: none;
  }
  .user-info-display {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-bottom: 10px;
  }
  
  .user-info p {
    margin: 5px 0;
  }